#total{
	height: 97vh;
}

#caixa{
	width: 600px;
	margin: auto;
	background-color:#4d4d4d;
	border-radius: 4px;
	box-shadow: 15px 15px black;
	transition-duration: .3s;
}
.conteudo{
	padding: 10px;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
}
#caixa:hover {
	box-shadow: 25px 25px black;
	border-radius: 10px;
}
a{
	color: white;
}
a:hover{
	color: gray!important;
}
.subtitulo{
	margin-top: 0;
}
#listagem{
	max-height: 240px;
	width: 580px;
	overflow: auto;
	box-shadow: 0px 5px 10px -7px black;
	border-radius: 5px;
}
.footer {
    padding: 0px 10px 10px 10px;
	display: flex;
	width: 100%;
}
footer{
	padding: 10px;
}
button {
	background: transparent;
	color: white;
    border: none;
	transition-duration: .3s;
	padding-bottom: 3px;
	cursor: pointer;
}
button:hover{
	background-color: lightgray;
	color: #4d4d4d;
	border-radius: 4px;
}
.criacao {
	height: 160px;
	width: 300px;
	margin: auto;
	transition-duration: .3s;
	background-color:gray;
	padding-left: 10px;
	display: flex;
	align-items: center;
	padding-bottom: 2%;
	border-radius: 4px;
	position: absolute;
	position: fixed;
	top: 0;
	bottom: 50%;
	left: 0;
	right: 0;
	display: none;
	z-index: 1;
}

.criacao.-active{
	display: block;
}

#fundo{
	background-color: #0000007d;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	position: fixed;
}

#fundo.-active{
	display: block;
}

.submit{
	border: none;
	background-color: transparent;
	border-left: 2px solid white;
	color: white;
	cursor: pointer;
}
.formHr{
	float: left;
    width: 92%;
}
input[type="text"] {
    border: none;
    padding: 3px;
    background-color: transparent;
    color: white;
    border-left: 2px solid white;
}
input[type="text"]::placeholder {
    color: white;
}
option {
    background-color: #5d5d5d;
}
select {
    border: none;
    border-left: 2px solid white;
    color: white;
	background-color: transparent;
	cursor: pointer;
}