@font-face{
    src: url("../fonts/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.max-header{
    background-color: #2574a9;
}
.min-header{
    background-color: #c5eff7;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "lgo ... nav";
    grid-template-columns: auto 1fr auto;
    height: 100px;
    align-items: center;
}
.logo{
    grid-area: lgo;
}
.logo img{
    width: 320px;
}
.nav-bar{
    font-size: 18px;
    display: grid;
    grid-area: nav;
}
.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

}
.nav-bar a{
    font-family: "Taxi Driver";
    font-size: 1em;
    color: #c5eff7;
    text-transform: uppercase;
}
.ghost{
    width: 100%;
    background-color: red;
    height: 100px;
}
main{
    font-size: 20px;
}
main section{
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Taxi Driver";
    font-size: 2em;
    color: #2574a9;
}
main section:nth-child(odd){
    height: 100vh;
    background-color: #cae1f1;
}
main section:nth-child(even){
    height: 100vh;
    background-color: #b7d5eb;
}